/*
$color-70: #f25153;
$color-30: #5ca157;
$color-10: #91f062;
$color-5: #f09162;
*/
@font-face {
  font-family: "MainFont";
  src: url("../fonts/cooper-black/COOPBL.ttf"); }
@font-face {
  font-family: "SekunderFont";
  src: url("../fonts/droid-sans/DroidSans.ttf"); }
@font-face {
  font-family: "PrimaryFont";
  src: url("../fonts/Righteous/Righteous-Regular.ttf"); }
.padding-20px {
  padding: 20px 0; }

.padding-15px {
  padding: 15px 0; }

.padding-10px {
  padding: 10px 0; }

.padding-5px {
  padding: 5px 0; }

.padding-bottom-20px {
  padding-bottom: 20px; }

.padding-bottom-15px {
  padding-bottom: 15px; }

.padding-bottom-10px {
  padding-bottom: 10px; }

.padding-bottom-5px {
  padding-bottom: 5px; }

.padding-top-20px {
  padding-top: 20px; }

.padding-top-15px {
  padding-top: 15px; }

.padding-top-10px {
  padding-top: 10px; }

.padding-top-5px {
  padding-top: 5px; }

.position.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }
.position.center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.width {
  position: relative;
  margin: auto; }
  .width.width-full {
    width: 100%; }
  .width.width-all {
    width: 1200px; }
    @media (max-width: 800px) {
      .width.width-all {
        width: calc(100% - 20px);
        margin: auto; } }

.menu-circle {
  position: relative;
  width: 100%;
  padding-top: 10px; }
  .menu-circle li {
    list-style: none;
    display: inline-block; }
    .menu-circle li a {
      position: relative;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 100%;
      background-color: #62c3f0;
      color: #fff;
      display: block; }

.grid {
  position: relative;
  width: 100%; }
  .grid.grid-1 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr; }
  .grid.grid-2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr; }
    @media (max-width: 800px) {
      .grid.grid-2 {
        display: block; } }
    .grid.grid-2.grid-1-100 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 100px 1fr;
      -ms-grid-columns: 100px 1fr; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-1-100 {
          display: block; } }
    .grid.grid-2.grid-1-200 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 200px 1fr;
      -ms-grid-columns: 200px 1fr; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-1-200 {
          display: block; } }
    .grid.grid-2.grid-1-300 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 300px 1fr;
      -ms-grid-columns: 300px 1fr; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-1-300 {
          display: block; } }
    .grid.grid-2.grid-1-400 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 400px 1fr;
      -ms-grid-columns: 400px 1fr; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-1-400 {
          display: block; } }
    .grid.grid-2.grid-2-100 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 100px;
      -ms-grid-columns: 1fr 100px; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-2-100 {
          display: block; } }
    .grid.grid-2.grid-2-200 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 200px;
      -ms-grid-columns: 1fr 200px; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-2-200 {
          display: block; } }
    .grid.grid-2.grid-2-300 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 300px;
      -ms-grid-columns: 1fr 300px; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-2-300 {
          display: block; } }
    .grid.grid-2.grid-2-400 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 400px;
      -ms-grid-columns: 1fr 400px; }
      @media (max-width: 800px) {
        .grid.grid-2.grid-2-400 {
          display: block; } }
  .grid.grid-3 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr; }
  .grid.grid-4 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr; }
  .grid.gap-10 {
    grid-gap: 10px;
    grid-row-gap: 10px; }
  .grid.gap-20 {
    grid-gap: 20px;
    grid-row-gap: 20px; }
  .grid.gap-30 {
    grid-gap: 30px;
    grid-row-gap: 30px; }
  .grid.gap-40 {
    grid-gap: 40px;
    grid-row-gap: 40px; }
  .grid.gap-50 {
    grid-gap: 50px;
    grid-row-gap: 50px; }
  .grid .col-1 {
    position: relative;
    grid-column: 1;
    -ms-grid-column: 1; }
  .grid .col-2 {
    grid-column: 2;
    -ms-grid-column: 2; }
  .grid .col-3 {
    grid-column: 3;
    -ms-grid-column: 3; }
  .grid .col-4 {
    grid-column: 4;
    -ms-grid-column: 4; }
  .grid .content-right {
    justify-content: right; }

.header {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); }
  .header .place {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
    .header .place.hd-bg-trans {
      background-color: rgba(0, 0, 0, 0.24);
      border: 0 #fff solid; }
      .header .place.hd-bg-trans .menu .pl-menu .mn-menu .mn-list .mn-link {
        color: #fff; }
        @media (max-width: 800px) {
          .header .place.hd-bg-trans .menu .pl-menu .mn-menu .mn-list .mn-link {
            color: rgba(0, 0, 0, 0.54); } }
        .header .place.hd-bg-trans .menu .pl-menu .mn-menu .mn-list .mn-link:hover {
          text-shadow: 0 0 0 #f06292; }
      .header .place.hd-bg-trans .menu .pl-menu .mn-menu .mn-list.active a {
        color: #f06292; }
      .header .place.hd-bg-trans .menu .pl-menu .mn-menu .mn-search {
        color: #fff; }
        .header .place.hd-bg-trans .menu .pl-menu .mn-menu .mn-search:hover {
          color: #f06292; }
      .header .place.hd-bg-trans .menu .pl-logo .logo-txt {
        color: #fff; }
      .header .place.hd-bg-trans .menu .pl-bar ul li {
        background-color: rgba(0, 0, 0, 0);
        color: #fff; }
    .header .place .menu {
      position: relative;
      height: 60px;
      width: 1200px;
      margin: 0 auto;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 320px 1fr;
      -ms-grid-columns: 320px 1fr; }
      @media (max-width: 800px) {
        .header .place .menu {
          width: calc(100% - 20px); } }
      @media (max-width: 800px) {
        .header .place .menu {
          display: grid;
          display: -ms-grid;
          grid-template-columns: 250px 1fr;
          -ms-grid-columns: 250px 1fr; } }
      .header .place .menu .col-1 {
        grid-column: 1;
        -ms-grid-column: 1; }
      .header .place .menu .col-2 {
        grid-column: 2;
        -ms-grid-column: 2; }
      .header .place .menu .pl-logo {
        position: relative;
        width: 100%;
        height: 60px;
        overflow: hidden; }
        .header .place .menu .pl-logo .logo {
          position: relative;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
          width: 100%; }
        .header .place .menu .pl-logo .logo-txt {
          position: relative;
          color: rgba(0, 0, 0, 0.84);
          font-size: 22pt;
          font-weight: 500; }
          .header .place .menu .pl-logo .logo-txt .tx {
            font-family: MainFont ,Arial, Helvetica, sans-serif; }
      .header .place .menu .pl-menu {
        position: relative;
        float: right;
        right: 0; }
        @media (max-width: 800px) {
          .header .place .menu .pl-menu {
            position: fixed;
            top: 0;
            width: 300px;
            height: 100vh;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
            z-index: 1000;
            display: none; } }
        .header .place .menu .pl-menu .mn-menu.nav {
          display: none; }
          @media (max-width: 800px) {
            .header .place .menu .pl-menu .mn-menu.nav {
              display: block; } }
        .header .place .menu .pl-menu .mn-menu .mn-list {
          position: relative;
          display: inline-block;
          list-style: none;
          margin-right: -4px;
          padding: 0 15px; }
          @media (max-width: 800px) {
            .header .place .menu .pl-menu .mn-menu .mn-list {
              width: 100%;
              padding: 0 0;
              display: block;
              margin: 0 0;
              border-bottom: 1px rgba(0, 0, 0, 0.1) solid; } }
          .header .place .menu .pl-menu .mn-menu .mn-list.active {
            color: rgba(0, 0, 0, 0.54); }
            .header .place .menu .pl-menu .mn-menu .mn-list.active .mn-link {
              color: rgba(0, 0, 0, 0.54);
              border-bottom: 4px #f06292 solid; }
          .header .place .menu .pl-menu .mn-menu .mn-list:hover .mn-link {
            color: #f06292; }
          .header .place .menu .pl-menu .mn-menu .mn-list:hover .sb-menu {
            display: block;
            transition: 0.3s; }
            @media (max-width: 800px) {
              .header .place .menu .pl-menu .mn-menu .mn-list:hover .sb-menu {
                display: none; } }
          .header .place .menu .pl-menu .mn-menu .mn-list .mn-link {
            position: relative;
            height: 54px;
            line-height: 54px;
            display: block;
            font-size: 11pt;
            font-weight: 400;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.34);
            font-family: "PrimaryFont", Arial, Helvetica, sans-serif;
            border-bottom: 4px rgba(0, 0, 0, 0) solid; }
            .header .place .menu .pl-menu .mn-menu .mn-list .mn-link:hover {
              color: #f06292; }
            @media (max-width: 800px) {
              .header .place .menu .pl-menu .mn-menu .mn-list .mn-link {
                width: calc(100% - 30px);
                padding: 0 15px; } }
          .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu {
            position: absolute;
            min-width: 250px;
            width: auto;
            top: 50px;
            right: 0;
            padding: 10px 0;
            background-color: #fff;
            display: none;
            border: 1px rgba(0, 0, 0, 0.1) solid; }
            @media (max-width: 800px) {
              .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu {
                position: relative;
                top: 0;
                width: 100%;
                border: 0 #fff solid;
                border-top: 1px rgba(0, 0, 0, 0.1) solid; } }
            @media (max-width: 800px) {
              .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu.sb-open {
                display: block; } }
            .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu .sb-list {
              list-style: none; }
              .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu .sb-list .sb-link {
                position: relative;
                display: block;
                width: calc(100% - 30px);
                padding: 15px;
                color: rgba(0, 0, 0, 0.54);
                font-size: 11pt; }
                .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu .sb-list .sb-link:hover {
                  background-color: #f5f5f5; }
                .header .place .menu .pl-menu .mn-menu .mn-list .sb-menu .sb-list .sb-link .icn {
                  width: 30px; }
        .header .place .menu .pl-menu .mn-menu .mn-search {
          position: relative;
          width: 40px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          cursor: pointer;
          color: rgba(0, 0, 0, 0.54); }
          .header .place .menu .pl-menu .mn-menu .mn-search:hover {
            color: #f06292; }
          @media (max-width: 800px) {
            .header .place .menu .pl-menu .mn-menu .mn-search {
              width: calc(100% - 30px);
              padding: 0 15px;
              display: block;
              margin: 0 0; } }
        .header .place .menu .pl-menu .mn-menu .mn-close {
          position: relative;
          width: 100%;
          text-align: right;
          cursor: default;
          padding: 5px 0; }
          .header .place .menu .pl-menu .mn-menu .mn-close .icn {
            position: relative;
            right: 7.5px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            border-radius: 100%;
            text-align: center;
            cursor: pointer;
            border: 1px rgba(0, 0, 0, 0.1) solid;
            color: rgba(0, 0, 0, 0.54); }
            .header .place .menu .pl-menu .mn-menu .mn-close .icn:hover {
              color: #f06292; }
      .header .place .menu .pl-active:after {
        display: none;
        transition: 0.5s; }
      @media (max-width: 800px) {
        .header .place .menu .pl-active {
          display: block;
          transition: 0.5s; } }
      .header .place .menu .pl-bar {
        position: relative;
        top: 8px;
        float: right;
        display: none; }
        @media (max-width: 800px) {
          .header .place .menu .pl-bar {
            display: block; } }
        .header .place .menu .pl-bar ul li {
          position: relative;
          list-style: none;
          width: 45px;
          height: 45px;
          line-height: 45px;
          border-radius: 100%;
          background-color: #fff;
          color: rgba(0, 0, 0, 0.54);
          font-size: 11pt;
          font-weight: 500;
          cursor: pointer;
          text-align: center; }
          .header .place .menu .pl-bar ul li:hover {
            color: #f06292; }

.pin {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10; }
  .pin .ctn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    background-color: rgba(240, 98, 146, 0.54);
    color: #fff; }
    .pin .ctn:hover {
      background-color: rgba(240, 98, 146, 0.84);
      color: #fff; }
    .pin .ctn .icn {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.alert {
  position: relative;
  font-weight: 600;
  font-size: 11pt; }
  .alert.alert-error {
    color: #ff0000; }
  .alert.alert-success {
    color: #62c3f0; }

.bx-wrapper {
  position: relative;
  width: 100%; }
  .bx-wrapper .bx-viewport {
    background-color: #f0f0f0; }
    .bx-wrapper .bx-viewport .bn-image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 35%; }

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 35%;
  overflow: hidden; }
  .banner .bn-place {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .banner .bn-place .bn-cover {
      position: relative;
      width: 800px;
      background-color: rgba(0, 0, 0, 0.54);
      z-index: 1; }
      @media (max-width: 800px) {
        .banner .bn-place .bn-cover {
          width: 100%; } }
      .banner .bn-place .bn-cover.bn-disable {
        display: none; }
      .banner .bn-place .bn-cover.bn-center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .banner .bn-place .bn-cover.bn-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; }
        .banner .bn-place .bn-cover.bn-bottom .bn-info {
          text-align: left;
          width: calc(100% - 80px);
          padding: 15px 40px;
          display: grid;
          display: -ms-grid;
          grid-template-columns: 1fr 100px;
          -ms-grid-columns: 1fr 100px; }
          @media (max-width: 800px) {
            .banner .bn-place .bn-cover.bn-bottom .bn-info {
              width: calc(100% - 50px);
              padding: 15px 25px; } }
          .banner .bn-place .bn-cover.bn-bottom .bn-info h1 {
            padding: 0 0; }
          .banner .bn-place .bn-cover.bn-bottom .bn-info p {
            padding: 0 0; }
          .banner .bn-place .bn-cover.bn-bottom .bn-info .desc {
            grid-column: 1;
            -ms-grid-column: 1; }
          .banner .bn-place .bn-cover.bn-bottom .bn-info .more {
            grid-column: 2;
            -ms-grid-column: 2;
            text-align: right; }
      .banner .bn-place .bn-cover .bn-info {
        width: calc(100% - 50px);
        padding: 25px;
        text-align: center;
        color: #fff;
        white-space: normal; }
        .banner .bn-place .bn-cover .bn-info h1 {
          padding: 5px 0;
          font-size: 24pt;
          font-weight: 500;
          font-family: "MainFont", Arial, Helvetica, sans-serif; }
          @media (max-width: 800px) {
            .banner .bn-place .bn-cover .bn-info h1 {
              font-size: 24pt;
              padding: 0 0; } }
        .banner .bn-place .bn-cover .bn-info p {
          padding: 5px 0;
          font-size: 12pt;
          line-height: 1.5;
          font-weight: 300; }
          @media (max-width: 800px) {
            .banner .bn-place .bn-cover .bn-info p {
              font-size: 11pt;
              padding: 0 0; } }
        .banner .bn-place .bn-cover .bn-info .more {
          padding-top: 20px; }

.bx-wrapper {
  position: relative;
  width: 100%; }
  .bx-wrapper .bx-controls {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    z-index: 10; }
    .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
      list-style: none;
      display: inline-block; }
      .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #fff;
        color: #fff;
        display: block;
        margin: 0 5px; }
        .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
          background-color: #f06292;
          color: #f06292; }
        .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
          background-color: #f06292;
          color: #f06292; }

.notes {
  position: relative;
  width: 100%;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0); }
  .notes.bg-2 {
    background-color: #f8f8f8; }
  .notes.bdr-tb {
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
  .notes .pl-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat; }
    .notes .pl-cover.cover-2 {
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .notes .pl-cover.cover-2 .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.24); }
  .notes .pl-notes {
    position: relative;
    width: 1200px;
    color: rgba(0, 0, 0, 0.84);
    margin: auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 10px; }
    @media (max-width: 800px) {
      .notes .pl-notes {
        width: calc(100% - 30px);
        display: block; } }
    .notes .pl-notes.pl-notes-2 {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 200px;
      -ms-grid-columns: 1fr 200px; }
      @media (max-width: 800px) {
        .notes .pl-notes.pl-notes-2 {
          width: calc(100% - 30px);
          display: block; } }
      .notes .pl-notes.pl-notes-2 .pl-btn {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-top: 20px;
        width: 100%; }
    .notes .pl-notes .col-1 {
      grid-column: 1;
      -ms-grid-column: 1; }
    .notes .pl-notes .col-2 {
      grid-column: 2;
      -ms-grid-column: 2; }
    .notes .pl-notes .pl-ttl {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
      line-height: 1.5; }
      @media (max-width: 800px) {
        .notes .pl-notes .pl-ttl {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .notes .pl-notes .pl-ttl .title {
        font-size: 22pt;
        font-weight: 600; }
        .notes .pl-notes .pl-ttl .title.main-font {
          font-weight: 400;
          font-family: "MainFont", Arial, Helvetica, sans-serif; }
      .notes .pl-notes .pl-ttl .sub-title {
        font-size: 14pt;
        font-weight: 500; }
    .notes .pl-notes .pl-btn {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 200px;
      text-align: right; }
    .notes .pl-notes .pl-ctn {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      width: 100%; }
      @media (max-width: 800px) {
        .notes .pl-notes .pl-ctn {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0); } }
      @media (max-width: 400px) {
        .notes .pl-notes .pl-ctn {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
      .notes .pl-notes .pl-ctn .frm-notes {
        position: relative;
        display: inline-block;
        vertical-align: middle; }
        @media (max-width: 400px) {
          .notes .pl-notes .pl-ctn .frm-notes {
            display: block; } }

.other {
  position: relative;
  width: 100%;
  background-color: #fff; }
  .other .menu {
    position: relative;
    width: 1200px;
    margin: auto;
    text-align: center; }
    @media (max-width: 800px) {
      .other .menu {
        width: 100%;
        text-align: left;
        margin: 15px 0;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -ms-column-count: 1; } }
    .other .menu li {
      position: relative;
      width: calc((100% / 3) - 4px);
      margin: 25px 0;
      text-align: left;
      list-style: none;
      display: inline-block; }
      @media (max-width: 800px) {
        .other .menu li {
          width: calc(100% - 30px);
          padding: 0 15px; } }
      .other .menu li .lef {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        color: #f06292;
        border: 1px #f06292 solid; }
      .other .menu li .rig {
        position: relative;
        width: calc(100% - 55px);
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        font-size: 11pt;
        margin-right: -4px;
        color: rgba(0, 0, 0, 0.54); }

.body-padding {
  position: relative;
  width: 100%;
  height: 60px; }

.body {
  position: relative;
  width: 100%;
  overflow-x: hidden; }
  .body .body-block {
    position: relative;
    width: 100%;
    margin: 40px 0; }
    .body .body-block.bg-grey {
      background-color: #f6f6f6; }
    .body .body-block .cvr {
      position: absolute;
      top: 0;
      width: 100%;
      padding-bottom: 400px;
      overflow: hidden;
      background-repeat: repeat; }
      .body .body-block .cvr.cover-2 {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        .body .body-block .cvr.cover-2 .cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.24); }
    .body .body-block .top {
      position: relative;
      width: 100%;
      margin: 25px 0;
      text-align: center; }
      .body .body-block .top.white .title {
        color: #fff;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.99); }
      .body .body-block .top.white .desc {
        color: #fff;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.99); }
      .body .body-block .top .width {
        width: 600px; }
        @media (max-width: 800px) {
          .body .body-block .top .width {
            width: calc(100% - 30px); } }
      .body .body-block .top .icn {
        position: relative;
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 100%;
        background-color: #f06292;
        color: #fff;
        font-size: 22pt;
        margin: auto; }
      .body .body-block .top .title {
        position: relative;
        margin: auto;
        width: 100%;
        color: rgba(0, 0, 0, 0.84);
        font-size: 20pt;
        font-weight: 500; }
      .body .body-block .top .desc {
        padding: 10px 0;
        line-height: 1.5;
        font-size: 12pt;
        color: rgba(0, 0, 0, 0.54);
        text-transform: uppercase; }
        .body .body-block .top .desc.text-normal {
          text-transform: none; }
    .body .body-block .mid.center {
      text-align: center; }
    .body .body-block .mid .place-btn {
      text-align: center;
      margin: 25px 0; }
    .body .body-block .mid .place-more {
      position: relative;
      width: 1200px;
      margin: auto; }
      @media (max-width: 800px) {
        .body .body-block .mid .place-more {
          width: 100%; } }
      .body .body-block .mid .place-more.place-wrap {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 45px 1fr 45px;
        -ms-grid-columns: 45px 1fr 45px; }
        .body .body-block .mid .place-more.place-wrap .lef {
          grid-column: 1;
          -ms-grid-column: 1; }
        .body .body-block .mid .place-more.place-wrap .cen {
          grid-column: 2;
          -ms-grid-column: 2;
          white-space: nowrap;
          overflow: hidden; }
        .body .body-block .mid .place-more.place-wrap .rig {
          grid-column: 3;
          -ms-grid-column: 3; }
      @media (max-width: 800px) {
        .body .body-block .mid .place-more .cen-col {
          white-space: nowrap;
          overflow: auto; } }
      .body .body-block .mid .place-more .cen-col.cen-1 .frm-today {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc(100% - 25px);
        height: 300px; }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen-col.cen-1 .frm-today {
            width: calc(100% - 20px);
            margin: 0 10px; } }
      .body .body-block .mid .place-more .cen-col.cen-2 .frm-today {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% - 50px) / 2);
        height: 300px; }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen-col.cen-2 .frm-today {
            width: calc(100% - 20px);
            margin: 0 10px; } }
      .body .body-block .mid .place-more .cen-col.cen-3 .frm-today {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% - 75px) / 3);
        height: 300px; }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen-col.cen-3 .frm-today {
            width: calc(100% - 20px);
            margin: 0 10px; } }
      .body .body-block .mid .place-more .cen.cen-1 .frm-today {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc(100% - 23px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen.cen-1 .frm-today {
            width: 100%;
            margin: 0 0; } }
      .body .body-block .mid .place-more .cen.cen-2 .frm-today {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc(66.66% - 23px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen.cen-2 .frm-today {
            width: 100%;
            margin: 0 0; } }
      .body .body-block .mid .place-more .cen .frm-info {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% / 4) - 23.5px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-info {
            width: calc((100% / 2) - 14px);
            margin: 5px 3px; } }
        @media (max-width: 400px) {
          .body .body-block .mid .place-more .cen .frm-info {
            width: calc(100% - 15px);
            margin: 5px 3px; } }
      .body .body-block .mid .place-more .cen .frm-galery {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% / 5) - 25px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-galery {
            width: 100%; } }
      .body .body-block .mid .place-more .cen .frm-article {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% / 3) - 23px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-article {
            width: calc(100% - 30px);
            margin: 15px; } }
      .body .body-block .mid .place-more .cen .frm-today {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% / 3) - 23px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-today {
            width: 100%;
            margin: 15px 0;
            margin-bottom: 0; } }
      .body .body-block .mid .place-more .cen .frm-instagram {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        width: calc((100% / 4) - 25px);
        padding-bottom: calc((100% / 4) - 23px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-instagram {
            width: calc((100% / 2) - 15px);
            padding-bottom: calc((100% / 2) - 15px);
            margin: 10px;
            margin-right: -4px;
            margin-bottom: -4px; } }
      .body .body-block .mid .place-more .cen .frm-testimonial {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        width: calc((100% / 3) - 25px); }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-testimonial {
            width: 100%;
            margin: 0 0 0 0; } }
      .body .body-block .mid .place-more .cen .frm-sponsore {
        position: relative;
        display: inline-block;
        margin: 0 10px;
        width: calc((100% / 6) - 25px);
        overflow: hidden;
        border-radius: 10px; }
        @media (max-width: 800px) {
          .body .body-block .mid .place-more .cen .frm-sponsore {
            width: calc((100% / 2) - 25px); } }
        .body .body-block .mid .place-more .cen .frm-sponsore .logo {
          position: relative;
          width: 100%;
          padding-bottom: 50%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center; }
      .body .body-block .mid .place-more .to {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center; }
        .body .body-block .mid .place-more .to .icn {
          position: relative;
          width: 45px;
          height: 45px;
          line-height: 45px;
          border-radius: 100%;
          color: rgba(0, 0, 0, 0.84);
          top: 50%;
          transform: translate(0, -50%);
          cursor: pointer; }
          .body .body-block .mid .place-more .to .icn:hover {
            background-color: #f06292;
            color: #fff; }

.dashboard {
  position: relative;
  width: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 300px 1fr;
  -ms-grid-columns: 300px 1fr; }
  .dashboard.minimal {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50px 1fr;
    -ms-grid-columns: 50px 1fr; }
    .dashboard.minimal:after {
      transition: 0.3s; }
    .dashboard.minimal .side {
      width: 50px; }
  .dashboard.maximal {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 300px 1fr;
    -ms-grid-columns: 300px 1fr; }
    .dashboard.maximal .side {
      width: 300px; }
      @media (max-width: 800px) {
        .dashboard.maximal .side {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.34); } }
    @media (max-width: 800px) {
      .dashboard.maximal {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 50px 1fr;
        -ms-grid-columns: 50px 1fr; } }
  @media (max-width: 800px) {
    .dashboard {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 50px 1fr;
      -ms-grid-columns: 50px 1fr; } }
  .dashboard .side {
    grid-column: 1;
    -ms-grid-column: 1;
    position: fixed;
    width: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    background-color: #fff; }
    @media (max-width: 800px) {
      .dashboard .side {
        width: 50px; } }
    .dashboard .side .s-devide {
      position: relative;
      margin: 10px 0;
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
    .dashboard .side .s-block {
      position: relative;
      width: 100%; }
      .dashboard .side .s-block .s-menu a {
        position: relative;
        display: block;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px; }
        .dashboard .side .s-block .s-menu a:hover {
          background-color: #f06292;
          transition: 0.2s; }
          .dashboard .side .s-block .s-menu a:hover li {
            color: #fff; }
        .dashboard .side .s-block .s-menu a.active {
          background-color: #f06292; }
          .dashboard .side .s-block .s-menu a.active li {
            color: #fff; }
      .dashboard .side .s-block .s-menu li {
        position: relative;
        width: 100%;
        color: rgba(0, 0, 0, 0.54);
        display: grid;
        display: -ms-grid;
        grid-template-columns: 40px 1fr;
        -ms-grid-columns: 40px 1fr; }
        .dashboard .side .s-block .s-menu li .icn {
          grid-column: 1;
          -ms-grid-column: 1;
          position: relative;
          width: 40px;
          height: 45px;
          line-height: 45px;
          text-align: center;
          font-size: 12pt; }
          .dashboard .side .s-block .s-menu li .icn #side-btn {
            display: none; }
            @media (max-width: 800px) {
              .dashboard .side .s-block .s-menu li .icn #side-btn {
                display: block; } }
        .dashboard .side .s-block .s-menu li .txt {
          grid-column: 2;
          -ms-grid-column: 2;
          position: relative;
          width: 100%;
          height: 45px;
          line-height: 45px; }
          .dashboard .side .s-block .s-menu li .txt h1 {
            font-weight: 500; }
  .dashboard .content {
    position: relative;
    width: calc(100% - 40px);
    margin: auto;
    grid-column: 2;
    -ms-grid-column: 2; }
    @media (max-width: 800px) {
      .dashboard .content {
        width: calc(100% - 20px); } }
    .dashboard .content .nav-page {
      position: relative;
      width: 100%;
      padding: 15px 0; }
      .dashboard .content .nav-page .right {
        float: right; }
    .dashboard .content .main-page {
      position: relative;
      width: calc(100%);
      display: flex;
      flex-wrap: wrap; }
      .dashboard .content .main-page .frm-main-page {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 30px);
        margin: 15px; }
      .dashboard .content .main-page.mp-2 .frm-main-page {
        width: calc((100% - 60px) / 2); }
      @media (max-width: 800px) {
        .dashboard .content .main-page.mp-2 .frm-main-page {
          width: calc((100% - 60px) / 2); } }
      .dashboard .content .main-page.mp-3 .frm-main-page {
        width: calc((100% - 90px) / 3); }
      @media (max-width: 800px) {
        .dashboard .content .main-page.mp-3 .frm-main-page {
          width: calc(100% - 30px); } }
    .dashboard .content .title-page {
      position: relative;
      width: 100%;
      padding: 20px 0;
      text-align: center; }
      .dashboard .content .title-page h1 {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54); }
      .dashboard .content .title-page p {
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.54); }
    .dashboard .content .content-page {
      position: relative;
      width: calc(100%);
      padding: 20px 0; }
      .dashboard .content .content-page .cp-top {
        position: relative;
        width: 100%;
        padding-bottom: 20px;
        text-align: center; }
        .dashboard .content .content-page .cp-top .cp-right {
          display: none; }
          .dashboard .content .content-page .cp-top .cp-right .search {
            position: relative;
            width: 400px;
            height: 40px;
            overflow: hidden;
            border-radius: 45px;
            float: right;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            display: grid;
            display: -ms-grid;
            grid-template-columns: 1fr 45px;
            -ms-grid-columns: 1fr 45px; }
            .dashboard .content .content-page .cp-top .cp-right .search .src {
              width: calc(100% - 30px);
              height: 40px;
              padding: 0 15px; }
            .dashboard .content .content-page .cp-top .cp-right .search .bt {
              width: 45px;
              padding: 0 0;
              border-radius: 0; }
      .dashboard .content .content-page .cp-mid {
        position: relative;
        width: 100%; }
    .dashboard .content .content-create {
      position: relative;
      width: 100%;
      padding: 20px 0;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 400px;
      -ms-grid-columns: 1fr 400px; }
      .dashboard .content .content-create.no-grid {
        display: block; }
      @media (max-width: 800px) {
        .dashboard .content .content-create {
          display: block; } }
      .dashboard .content .content-create .cc-left {
        position: relative;
        width: calc(100% - 55px);
        padding: 20px;
        margin-right: 15px;
        border-radius: 5px;
        border: 1px rgba(0, 0, 0, 0.1) solid;
        grid-column: 1;
        -ms-grid-column: 1; }
        @media (max-width: 800px) {
          .dashboard .content .content-create .cc-left {
            width: calc(100% - 40px);
            margin-right: 0;
            margin-bottom: 20px; } }
      .dashboard .content .content-create .cc-right {
        position: relative;
        width: calc(100% - 15px);
        margin-left: 15px;
        grid-column: 2;
        -ms-grid-column: 2; }
        @media (max-width: 800px) {
          .dashboard .content .content-create .cc-right {
            width: 100%;
            margin: 0 0; } }
        .dashboard .content .content-create .cc-right .btn {
          width: 100%; }
      .dashboard .content .content-create .cc-block {
        position: relative;
        width: 100%;
        padding-bottom: 20px; }
        .dashboard .content .content-create .cc-block.bdr-all {
          position: relative;
          border-radius: 5px;
          width: calc(100% - 40px);
          padding: 20px;
          margin-bottom: 20px;
          border: 1px rgba(0, 0, 0, 0.1) solid; }
        .dashboard .content .content-create .cc-block .title {
          padding: 10px 0;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.54); }
        .dashboard .content .content-create .cc-block .label {
          padding-bottom: 10px;
          font-size: 11pt;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.54); }
        .dashboard .content .content-create .cc-block .desc {
          padding-bottom: 5px;
          font-size: 10pt;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.54); }
        .dashboard .content .content-create .cc-block .rd {
          font-size: 11pt;
          color: rgba(0, 0, 0, 0.54);
          line-height: 1.5; }
        .dashboard .content .content-create .cc-block .cc-note {
          position: relative;
          width: calc(100% - 40px);
          padding: 0 20px; }
          .dashboard .content .content-create .cc-block .cc-note li {
            font-size: 11pt;
            color: rgba(0, 0, 0, 0.54);
            line-height: 1.5; }

.about-us {
  position: relative;
  top: 0;
  left: 0;
  width: 100%; }
  .about-us.au-image {
    position: relative;
    width: 100%;
    padding-bottom: 35%;
    background-color: #f5f5f5;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; }
    .about-us.au-image.au-image-scroll {
      background-attachment: scroll; }
  .about-us.au-trans {
    background-color: rgba(0, 0, 0, 0.14); }
  .about-us .au-info {
    position: relative;
    width: calc(100% - 50px);
    padding: 0 25px; }
    @media (max-width: 800px) {
      .about-us .au-info {
        width: 100%;
        padding: 0 0; } }
  .about-us .au-banner {
    position: relative;
    width: 100%;
    padding-bottom: 35%; }
  .about-us .au-content {
    position: relative;
    width: calc(100% - 80px);
    padding: 40px;
    margin: auto; }
    @media (max-width: 800px) {
      .about-us .au-content {
        width: calc(100% - 30px);
        padding: 20px 15px; } }
    .about-us .au-content.bg-1 {
      background-color: #f5f5f5; }
    .about-us .au-content.bg-2 {
      background-color: #f06292; }
    .about-us .au-content.bg-3 {
      background-color: #62c3f0; }
  .about-us .au-bg-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24); }

.informations {
  position: relative;
  width: 750px;
  padding: 40px;
  margin: auto;
  background-color: #fff;
  border: 1px rgba(0, 0, 0, 0.1) solid; }
  @media (max-width: 800px) {
    .informations {
      width: calc(100% - 20px);
      padding: 0 10px;
      border: 0 #fff solid; } }
  .informations p {
    text-align: justify; }
  .informations ol {
    position: relative;
    width: calc(100% - 30px);
    padding-left: 30px; }
    .informations ol li {
      position: relative;
      padding-left: 20px; }

.footer {
  position: relative;
  width: 100%;
  border-top: 1px rgba(0, 0, 0, 0.1) solid; }
  .footer .f-main {
    position: relative;
    width: 1200px;
    margin: auto; }
    @media (max-width: 800px) {
      .footer .f-main {
        width: calc(100% - 30px); } }
    .footer .f-main.split-2 {
      padding: 40px 0;
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2; }
      @media (max-width: 800px) {
        .footer .f-main.split-2 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
    .footer .f-main.split-3 {
      padding: 40px 0;
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -ms-column-count: 3; }
      @media (max-width: 800px) {
        .footer .f-main.split-3 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
    .footer .f-main.split-4 {
      padding: 40px 0;
      column-count: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4;
      -ms-column-count: 4; }
      @media (max-width: 800px) {
        .footer .f-main.split-4 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
  .footer .place {
    position: relative; }
    .footer .place.col-2 {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      column-gap: 20px;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      -ms-column-gap: 20px; }
      @media (max-width: 400px) {
        .footer .place.col-2 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
    .footer .place.col-3 {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -ms-column-count: 3;
      column-gap: 20px;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      -ms-column-gap: 20px; }
      @media (max-width: 400px) {
        .footer .place.col-3 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
    .footer .place.col-4 {
      column-count: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4;
      -ms-column-count: 4;
      column-gap: 20px;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      -ms-column-gap: 20px; }
      @media (max-width: 400px) {
        .footer .place.col-4 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
    .footer .place.col-5 {
      column-count: 5;
      -webkit-column-count: 5;
      -moz-column-count: 5;
      -ms-column-count: 5;
      column-gap: 20px;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      -ms-column-gap: 20px; }
      @media (max-width: 400px) {
        .footer .place.col-5 {
          column-count: 1;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          -ms-column-count: 1; } }
    .footer .place.grid-4 .col {
      width: calc((100% - 20px) / 4); }
    .footer .place .col {
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: top; }
    .footer .place .title .logo {
      width: 320px; }
      @media (max-width: 800px) {
        .footer .place .title .logo {
          width: 250px; } }
    .footer .place .info h3 {
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.54);
      font-size: 16px; }
    .footer .place .info p {
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px; }
    .footer .place .menu {
      position: relative;
      width: 100%;
      margin-bottom: 15px; }
      .footer .place .menu li {
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 12pt;
        color: rgba(0, 0, 0, 0.54);
        list-style: none;
        display: grid;
        display: -ms-grid;
        grid-template-columns: 30px 1fr;
        -ms-grid-columns: 30px 1fr; }
        .footer .place .menu li a {
          display: grid;
          display: -ms-grid;
          grid-template-columns: 30px 1fr;
          -ms-grid-columns: 30px 1fr;
          font-size: 12pt;
          color: rgba(0, 0, 0, 0.54); }
          .footer .place .menu li a:hover .ttl {
            text-decoration: underline; }
        .footer .place .menu li .icn {
          position: relative;
          width: 100%;
          grid-column: 1;
          -ms-grid-column: 1; }
        .footer .place .menu li .ttl {
          position: relative;
          width: 100%;
          height: auto;
          white-space: normal;
          grid-column: 2;
          -ms-grid-column: 2; }
  .footer .map {
    position: relative;
    width: 100%;
    background-color: #f0f0f0; }
    @media (max-width: 400px) {
      .footer .map {
        width: 100%; } }
  .footer .pl-logo {
    position: relative;
    width: 100%;
    text-align: center; }
    .footer .pl-logo .logo {
      width: 230px; }
  .footer .copy {
    position: relative;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.54);
    font-size: 11pt; }
    .footer .copy .menu {
      position: relative;
      width: 100%;
      padding-top: 10px; }
      .footer .copy .menu li {
        list-style: none;
        display: inline-block; }
        .footer .copy .menu li a {
          position: relative;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 100%;
          background-color: #62c3f0;
          color: #fff;
          display: block; }

.frm-info {
  position: relative;
  width: 100%; }
  .frm-info .fi-top {
    position: relative;
    width: 100%;
    height: 250px; }
    .frm-info .fi-top .fi-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.24); }
    .frm-info .fi-top .fi-info {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: calc(100% - 30px);
      margin: auto;
      color: #fff;
      text-shadow: 0px 0px 10px #000; }
      .frm-info .fi-top .fi-info .fi-icn {
        margin-bottom: 50px;
        font-size: 22pt; }

.frm-people {
  position: relative;
  width: calc((100% - 20px) / 5);
  height: auto;
  margin: 20px 0;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 800px) {
    .frm-people {
      width: calc((100% - 10px) / 2); } }
  .frm-people .icn {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #f06292;
    color: rgba(0, 0, 0, 0.84);
    font-size: 20pt;
    grid-column: 1;
    -ms-grid-column: 1; }
    .frm-people .icn .fl {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .frm-people .ctn {
    grid-column: 2;
    -ms-grid-column: 2;
    line-height: 1.5;
    text-align: center; }
    .frm-people .ctn .ttl {
      font-size: 12pt;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.84); }
    .frm-people .ctn .dsc {
      font-size: 11pt;
      color: rgba(0, 0, 0, 0.54); }
    .frm-people .ctn .more {
      padding-top: 20px; }

.frm-service {
  position: relative;
  width: calc((100% - 20px) / 4);
  height: auto;
  margin: 20px 0;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 800px) {
    .frm-service {
      width: calc((100% - 8px) / 2); } }
  @media (max-width: 400px) {
    .frm-service {
      width: calc(100% - 8px); } }
  .frm-service .fs-content {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 100px 1fr;
    -ms-grid-columns: 100px 1fr; }
  .frm-service .icn {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #f06292;
    color: #fff;
    font-size: 18pt;
    margin: auto;
    margin-bottom: 15px;
    grid-column: 1;
    -ms-grid-column: 1; }
    .frm-service .icn .fl {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .frm-service .ctn {
    position: relative;
    width: calc(100% - 30px);
    padding: 0 15px;
    grid-column: 2;
    -ms-grid-column: 2;
    line-height: 1.5;
    text-align: center; }
    .frm-service .ctn .ttl {
      font-size: 12pt;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.84); }
    .frm-service .ctn .dsc {
      font-size: 11pt;
      color: rgba(0, 0, 0, 0.54); }
    .frm-service .ctn .more {
      padding-top: 20px; }

.frm-article {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .frm-article .cover {
    position: relative;
    width: 100%;
    height: 150px; }
    .frm-article .cover.big {
      height: 195px; }
    .frm-article .cover .type {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #f06292;
      color: #fff;
      z-index: 1;
      font-size: 11pt;
      padding: 5px 10px;
      border-radius: 45px; }
      .frm-article .cover .type.type-circle {
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0 0;
        text-align: center;
        border-radius: 100%; }
      .frm-article .cover .type.bg-color-1 {
        background-color: #f06292;
        color: #fff; }
    .frm-article .cover .image {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat; }
  .frm-article .content {
    position: relative;
    width: calc(100% - 30px);
    padding: 10px 15px;
    white-space: normal; }
    .frm-article .content.big .dsc {
      height: 85px;
      overflow: hidden; }
    .frm-article .content .date {
      position: relative;
      height: 20px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.54);
      font-size: 10pt;
      padding-bottom: 5px; }
      .frm-article .content .date .icn {
        font-size: 10pt; }
    .frm-article .content .ttl {
      position: relative;
      width: 100%;
      height: 95px;
      overflow: hidden;
      line-height: 1.2; }
    .frm-article .content .dsc {
      position: relative;
      width: 100%;
      color: rgba(0, 0, 0, 0.54);
      font-size: 11pt;
      line-height: 1.5;
      white-space: normal; }
    .frm-article .content .more {
      padding: 10px 0;
      text-align: right; }

.frm-small-article {
  position: relative;
  width: 100%;
  padding: 15px 0;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 120px 1fr;
  -ms-grid-columns: 120px 1fr; }
  .frm-small-article .cover {
    position: relative;
    width: 100px;
    height: 100px;
    grid-column: 1;
    -ms-grid-column: 1; }
    .frm-small-article .cover.big {
      height: 200px; }
    .frm-small-article .cover .type {
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: #62c3f0;
      color: #fff;
      z-index: 1;
      font-size: 11pt;
      padding: 5px 10px;
      border-radius: 3px; }
    .frm-small-article .cover .image {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat; }
  .frm-small-article .content {
    position: relative;
    width: calc(100%);
    grid-column: 2;
    -ms-grid-column: 2; }
    .frm-small-article .content.big .dsc {
      height: 80px;
      max-height: 80px;
      overflow: hidden; }
    .frm-small-article .content .date {
      position: relative;
      height: 20px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.54);
      font-size: 10pt;
      padding-bottom: 5px; }
      .frm-small-article .content .date .icn {
        font-size: 10pt; }
    .frm-small-article .content .ttl {
      position: relative;
      width: 100%;
      padding-bottom: 10px; }
    .frm-small-article .content .dsc {
      position: relative;
      width: 100%;
      height: 68px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.54);
      font-size: 11pt;
      line-height: 1.5;
      white-space: normal; }
    .frm-small-article .content .more {
      padding-top: 20px; }

.frm-instagram {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0; }
  .frm-instagram:hover {
    cursor: pointer; }
  .frm-instagram:hover .desc {
    display: block; }
    @media (max-width: 800px) {
      .frm-instagram:hover .desc {
        display: none; } }
  .frm-instagram .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.34);
    color: #fff;
    white-space: normal;
    display: none; }
    .frm-instagram .desc .ttl {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 30px);
      padding: 15px; }

.frm-big-galery {
  position: relative;
  width: 100%; }
  .frm-big-galery .place {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0; }
    .frm-big-galery .place .image {
      position: relative;
      background-size: cover; }
  .frm-big-galery .view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .frm-big-galery .view .ttl {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 370px;
      background-color: #fff;
      color: rgba(0, 0, 0, 0.54);
      border-radius: 45px;
      overflow: hidden;
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 80px;
      -ms-grid-columns: 1fr 80px; }
      @media (max-width: 400px) {
        .frm-big-galery .view .ttl {
          width: calc(100% - 15px); } }
      .frm-big-galery .view .ttl:hover {
        color: rgba(0, 0, 0, 0.84); }
        .frm-big-galery .view .ttl:hover .icn {
          background-color: #f06292;
          color: #fff; }
      .frm-big-galery .view .ttl .ctn {
        position: relative;
        width: calc(100% - 40px);
        height: 70px;
        padding: 0 20px;
        line-height: 70px;
        font-weight: 500;
        font-size: 14pt;
        text-align: center;
        grid-column: 1;
        -ms-grid-column: 1; }
      .frm-big-galery .view .ttl .icn {
        position: relative;
        width: 100%;
        height: 70px;
        line-height: 70px;
        margin: auto;
        font-size: 18pt;
        text-align: center;
        background-color: #f5f5f5;
        color: rgba(0, 0, 0, 0.34);
        grid-column: 2;
        -ms-grid-column: 2; }

.frm-testimonial {
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #fff; }
  .frm-testimonial .ft-ctn {
    position: relative;
    width: calc(100% - 50px);
    padding: 50px 25px; }
    .frm-testimonial .ft-ctn .icn {
      color: rgba(0, 0, 0, 0.34); }
    .frm-testimonial .ft-ctn .say {
      position: relative;
      white-space: normal;
      line-height: 1.5;
      font-size: 16pt;
      font-family: 'Times New Roman', Times, serif;
      color: rgba(0, 0, 0, 0.54);
      font-style: italic;
      padding: 30px 0; }
    .frm-testimonial .ft-ctn .inf {
      padding: 10px 0;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12pt; }
      .frm-testimonial .ft-ctn .inf .pp {
        margin: auto; }
      .frm-testimonial .ft-ctn .inf .desc {
        padding: 25px 0 25px 0; }
        .frm-testimonial .ft-ctn .inf .desc .job {
          font-weight: 600; }

.frm-notes {
  position: relative;
  width: 100%;
  margin: 15px 0; }
  .frm-notes .frn-top {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    color: #f06292;
    border: 1px #f06292 solid;
    font-size: 10pt;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top; }
  .frm-notes .frn-mid {
    position: relative;
    width: calc(100% - 60px);
    line-height: 1.5;
    display: inline-block;
    vertical-align: top; }
    .frm-notes .frn-mid .ttl {
      font-weight: 600;
      font-size: 14pt; }
    .frm-notes .frn-mid .sub-ttl {
      font-size: 11pt;
      color: rgba(0, 0, 0, 0.54); }

.frm-today {
  position: relative;
  width: 100%;
  height: 400px; }
  .frm-today .ft-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.34); }
    .frm-today .ft-cover .ft-place {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: calc(100% - 50px);
      text-align: center;
      color: #fff;
      line-height: 1.5; }
    .frm-today .ft-cover .ft-top {
      cursor: default;
      padding: 20px 0; }
      .frm-today .ft-cover .ft-top h1 {
        font-weight: 500; }
    .frm-today .ft-cover .ft-mid {
      position: relative;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 100%;
      font-size: 18pt;
      cursor: pointer;
      background-color: rgba(240, 98, 146, 0.84);
      color: #fff; }
      .frm-today .ft-cover .ft-mid:hover {
        background-color: rgba(240, 98, 146, 0.94); }

.frm-galery {
  position: relative;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .frm-galery .fg-top {
    cursor: pointer; }
    .frm-galery .fg-top:hover .image {
      background-size: cover;
      transition: 0.3s; }
    .frm-galery .fg-top .image {
      position: relative;
      margin: auto; }
  .frm-galery .fg-mid {
    position: relative;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 10.5pt;
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.5; }

.frm-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.74);
  display: none; }
  .frm-popup .fp-place .close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5; }
  @media (max-width: 800px) {
    .frm-popup .fp-place .fp-mid iframe {
      width: calc(100% - 30px);
      margin: auto; } }
  .frm-popup .fp-place .fp-mid .load {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 15px;
    background-color: #fff;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 40px 1fr;
    -ms-grid-columns: 40px 1fr; }
    .frm-popup .fp-place .fp-mid .load .col-1 {
      position: relative;
      width: 40px;
      grid-column: 1;
      -ms-grid-column: 1; }
    .frm-popup .fp-place .fp-mid .load .col-2 {
      grid-column: 2;
      -ms-grid-column: 2; }
  .frm-popup .fp-place .fp-mid .vid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(100vh - 130px);
    background-color: #000; }
    .frm-popup .fp-place .fp-mid .vid iframe {
      width: 100%;
      height: 100%; }
  .frm-popup .fp-place .fp-mid .map {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(100vh - 130px);
    background-color: #f0f0f0; }
    .frm-popup .fp-place .fp-mid .map iframe {
      width: 100%;
      height: 100%; }
  .frm-popup .fp-place .fp-mid .img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 100%;
    max-height: 100vh; }
  .frm-popup .fp-place .fp-mid .search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1200px; }
    @media (max-width: 800px) {
      .frm-popup .fp-place .fp-mid .search {
        width: calc(100% - 30px);
        padding: 0 15px; } }
    .frm-popup .fp-place .fp-mid .search #src {
      position: relative;
      width: calc(100% - 30px);
      padding: 15px;
      font-size: 32pt;
      font-weight: 600;
      text-align: center;
      background-color: rgba(0, 0, 0, 0);
      color: #f06292;
      border-bottom: 4px #f06292 solid; }

.frm-sign {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0.1) solid; }
  @media (max-width: 500px) {
    .frm-sign {
      width: calc(100% - 30px);
      margin: auto; } }
  .frm-sign .fs-top {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
    .frm-sign .fs-top h1 {
      color: rgba(0, 0, 0, 0.54);
      text-transform: uppercase; }
    .frm-sign .fs-top .logo {
      position: relative;
      width: calc(100% - 100px);
      margin: auto; }
  .frm-sign .fs-mid {
    position: relative;
    width: calc(100% - 50px);
    padding: 25px; }
  .frm-sign .fs-block {
    position: relative;
    width: 100%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 45px 1fr;
    -ms-grid-columns: 45px 1fr; }
    .frm-sign .fs-block .fs-left {
      grid-column: 1;
      -ms-grid-column: 1; }
      .frm-sign .fs-block .fs-left .icn {
        position: relative;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: #f0f0f0;
        color: rgba(0, 0, 0, 0.54);
        font-size: 11pt; }
    .frm-sign .fs-block .fs-right {
      grid-column: 2;
      -ms-grid-column: 2; }
  .frm-sign .fs-button {
    text-align: center; }
    .frm-sign .fs-button .btn {
      width: 100%; }
  .frm-sign .fs-text {
    position: relative;
    width: 100%;
    padding-bottom: 25px;
    text-align: center; }

.frm-tags {
  position: relative;
  display: inline-block; }
  .frm-tags a {
    position: relative;
    padding: 10px 15px;
    display: block;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    font-size: 11pt;
    border: 1px rgba(0, 0, 0, 0.34) solid;
    border-radius: 45px;
    margin: 7.5px; }
    .frm-tags a:hover {
      color: rgba(0, 0, 0, 0.84);
      border: 1px rgba(0, 0, 0, 0.34) solid; }

.frm-main-page {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14);
  cursor: pointer; }
  .frm-main-page:hover {
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.14);
    transition: 0.3s; }
  .frm-main-page .fmp-top {
    position: relative;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center; }
    .frm-main-page .fmp-top .icn {
      font-size: 32pt;
      color: rgba(0, 0, 0, 0.54); }
    .frm-main-page .fmp-top.bg-1 {
      background-color: #f06292; }
      .frm-main-page .fmp-top.bg-1 .icn {
        color: #fff; }
    .frm-main-page .fmp-top.bg-2 {
      background-color: #62c3f0; }
      .frm-main-page .fmp-top.bg-2 .icn {
        color: #fff; }
    .frm-main-page .fmp-top.bg-3 {
      background-color: #91f062; }
      .frm-main-page .fmp-top.bg-3 .icn {
        color: #fff; }
    .frm-main-page .fmp-top.bg-4 {
      background-color: #f09162; }
      .frm-main-page .fmp-top.bg-4 .icn {
        color: #fff; }
  .frm-main-page .fmp-mid {
    position: relative;
    width: calc(100% - 30px);
    padding: 15px;
    text-align: center;
    font-size: 12pt;
    color: rgba(0, 0, 0, 0.54);
    border-top: 1px rgba(0, 0, 0, 0.1) solid; }

.frm-view-galery {
  position: relative;
  width: 100%;
  padding: 40px 0;
  margin: auto;
  background-color: #000; }
  @media (max-width: 800px) {
    .frm-view-galery {
      padding: 20px 0; } }
  .frm-view-galery .frm-place {
    position: relative;
    width: 600px;
    margin: auto; }
    @media (max-width: 800px) {
      .frm-view-galery .frm-place {
        position: relative;
        width: calc(100% - 20px);
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0; } }
  .frm-view-galery .top {
    padding-bottom: 10px; }
    .frm-view-galery .top img {
      width: 100%; }
  .frm-view-galery .mid {
    padding-bottom: 10px; }
  .frm-view-galery .bot {
    text-align: left; }

/*button normal*/
.btn {
  position: relative;
  width: auto;
  height: 45px;
  padding: 0 15px;
  border-radius: 7.5px;
  font-size: 11pt;
  font-weight: 600;
  font-family: "SekunderFont", Arial, Helvetica, sans-serif;
  cursor: pointer; }
  .btn.btn-no-pad {
    padding: 0 0; }
  .btn.btn-upp {
    text-transform: uppercase; }
  .btn.btn-radius {
    border-radius: 45px; }
  .btn.btn-link {
    text-align: center;
    line-height: 45px;
    display: block; }
  .btn.btn-div {
    height: 45px;
    line-height: 45px;
    text-align: center; }
  .btn.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    padding: 0 0;
    border-radius: 100%;
    text-align: center; }
  .btn.btn-danger-color {
    background-color: #ff0000;
    color: #fff; }
  .btn.btn-main-color {
    background-color: #f06292;
    color: #fff; }
  .btn.btn-main-2-color {
    background-color: #fff;
    color: #f06292;
    border: 1px #f06292 solid; }
    .btn.btn-main-2-color:hover {
      background-color: #f06292;
      color: #fff; }
  .btn.btn-sekunder-color {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    border: 1px rgba(0, 0, 0, 0.34) solid; }
    .btn.btn-sekunder-color:hover {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.84);
      border: 1px rgba(0, 0, 0, 0.54) solid; }
  .btn.btn-grey-color {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-grey-color:hover {
      background-color: #f2f2f2;
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-grey2-color {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-grey2-color:hover {
      background-color: #f2f2f2;
      color: rgba(0, 0, 0, 0.84); }
  .btn.btn-grey2-main-color {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.54); }
    .btn.btn-grey2-main-color:hover {
      background-color: #f06292;
      color: #fff; }
  .btn.btn-color-fb {
    background-color: #44749d;
    color: #fff; }
  .btn.btn-color-gg {
    background-color: #9a0000;
    color: #fff; }
  .btn.btn-color-gg-2 {
    background-color: #fff;
    color: #9a0000;
    border: 1px #9a0000 solid; }
  .btn.btn-color-gg-3 {
    background-color: #fff;
    color: #9a0000; }
  .btn.btn-color-tw {
    background-color: #60d3f5;
    color: #fff; }

.txt {
  width: calc(100% - 30px);
  height: 45px;
  font-size: 15px;
  font-weight: 900;
  padding: 0 15px;
  border-radius: 5px;
  font-family: "SekunderFont", Arial, Helvetica, sans-serif; }
  .txt.txt-no-shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .txt.txt-radius {
    border-radius: 45px; }
  .txt.txt-main-color {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84); }
  .txt.txt-primary-color {
    height: 38px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84);
    border: 1px rgba(0, 0, 0, 0.14) solid; }
    .txt.txt-primary-color:focus {
      border: 1px rgba(0, 0, 0, 0.84) solid; }
  .txt.txt-box-shadow {
    border: 1px rgba(0, 0, 0, 0.1) solid; }
  .txt.txt-sekunder-color {
    height: 38px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84);
    border: 1px rgba(0, 0, 0, 0.1) solid; }
    .txt.txt-sekunder-color:focus {
      border: 1px rgba(0, 0, 0, 0.84) solid; }
  .txt.txt-unbox {
    box-shadow: 0 0 0 #fff; }
  .txt.txt-small {
    width: 100%;
    padding: 0; }
  .txt.edit-text {
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    height: auto;
    min-height: 80px;
    max-height: 150px;
    overflow-y: auto;
    padding: 15px; }
    .txt.edit-text img {
      width: 100%; }
    .txt.edit-text.et-height-50px {
      min-height: 50px; }

.slc {
  position: relative;
  width: calc(100%);
  height: 45px;
  padding: 0 5px;
  font-size: 11pt;
  font-weight: 500;
  border-radius: 5px; }
  .slc * {
    color: rgba(0, 0, 0, 0.54); }
  .slc option {
    width: calc(100% - 30px);
    padding: 15px;
    color: rgba(0, 0, 0, 0.54); }
  .slc.slc-sekunder-color {
    height: 38px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    border: 1px rgba(0, 0, 0, 0.1) solid; }

.btn-type {
  position: relative;
  width: auto;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  cursor: default; }
  .btn-type.wd-small {
    width: 60px; }
  .btn-type.btn-color-70 {
    background-color: #f06292;
    color: #fff; }
  .btn-type.btn-color-30 {
    background-color: #62c3f0;
    color: #fff; }
  .btn-type.btn-color-10 {
    background-color: #91f062;
    color: #fff; }
  .btn-type.btn-color-5 {
    background-color: #f09162;
    color: #fff; }

.toggle {
  position: relative;
  font-size: 28pt;
  cursor: pointer; }
  .toggle.toggle-main {
    background-color: rgba(0, 0, 0, 0);
    color: #f06292; }
  .toggle.toggle-primary {
    background-color: rgba(0, 0, 0, 0);
    color: #62c3f0; }
  .toggle.toggle-sekunder {
    background-color: rgba(0, 0, 0, 0);
    color: #91f062; }
  .toggle.toggle-danger {
    background-color: rgba(0, 0, 0, 0);
    color: #f09162; }
  .toggle.toggle-grey {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.34); }

.hidden {
  display: none; }

textarea {
  resize: none; }

table {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 10px; }
  table thead {
    position: relative;
    width: 100%;
    background-color: #f06292;
    color: #fff; }
    table thead tr {
      position: relative;
      border: 0; }
      table thead tr th {
        position: relative;
        padding: 15px;
        font-size: 11pt;
        font-weight: 600;
        text-transform: collapse;
        text-align: left;
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
  table tbody tr {
    /*&:nth-child(even) {
    	background-color: #f2f2f2;
    }*/ }
    table tbody tr:hover {
      background-color: #f5f5f5; }
    table tbody tr td {
      position: relative;
      padding: 15px;
      font-size: 11pt;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }

.image {
  position: relative;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0; }
  .image.image-25px {
    width: 25px;
    height: 25px; }
  .image.image-30px {
    width: 30px;
    height: 30px; }
  .image.image-35px {
    width: 35px;
    height: 35px; }
  .image.image-40px {
    width: 40px;
    height: 40px; }
  .image.image-45px {
    width: 45px;
    height: 45px; }
  .image.image-50px {
    width: 50px;
    height: 50px; }
  .image.image-100px {
    width: 100px;
    height: 100px; }
  .image.image-110px {
    width: 110px;
    height: 110px; }
  .image.image-120px {
    width: 120px;
    height: 120px; }
  .image.image-130px {
    width: 130px;
    height: 130px; }
  .image.image-140px {
    width: 140px;
    height: 140px; }
  .image.image-150px {
    width: 150px;
    height: 150px; }
  .image.image-200px {
    width: 200px;
    height: 200px; }
  .image.image-250px {
    width: 250px;
    height: 250px; }
  .image.image-300px {
    width: 300px;
    height: 300px; }
  .image.image-350px {
    width: 350px;
    height: 350px; }
  .image.image-400px {
    width: 400px;
    height: 400px; }
  .image.image-full {
    width: 100%;
    padding-bottom: 50%; }
  .image.image-all {
    width: 100%;
    padding-bottom: 100%; }
  .image.image-radius {
    border-radius: 5px; }
  .image.image-circle {
    border-radius: 100%; }
  .image.image-height {
    background-size: auto 120%; }
  .image.image-center {
    margin: auto; }
  .image .icn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.54); }
    .image .icn .icn-big {
      font-size: 34px; }

.pl-article {
  position: relative;
  width: 800px;
  margin: auto;
  padding: 25px 0;
  /*@include grid_2x(1fr, 450px);
  @media (max-width: $max-width) {
      @include grid_none();
      width: calc(100% - 30px);
      padding: 0 15px;
      padding-top: 15px;
      padding-bottom: 25px;
  }*/ }
  @media (max-width: 800px) {
    .pl-article {
      width: calc(100% - 20px); } }
  .pl-article .pl-a-col-1 {
    grid-column: 1;
    -ms-grid-column: 1; }
  .pl-article .pl-a-col-2 {
    grid-column: 2;
    -ms-grid-column: 2; }
  .pl-article .more-article {
    position: relative;
    width: 100%; }
    .pl-article .more-article .top {
      padding: 10px 0; }
      .pl-article .more-article .top h3 {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.84); }

.frm-story {
  position: relative;
  width: calc(100% - 40px); }
  @media (max-width: 800px) {
    .frm-story {
      width: 100%; } }
  .frm-story .top {
    padding-bottom: 15px; }
  .frm-story .mid .info {
    color: rgba(0, 0, 0, 0.54);
    font-size: 11pt; }
  .frm-story .mid .date {
    position: relative;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 11pt; }
    .frm-story .mid .date .icn {
      font-size: 11pt; }
  .frm-story .mid .title h1 {
    font-weight: 500; }
  .frm-story .mid .desc {
    white-space: normal; }
    .frm-story .mid .desc p {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12pt;
      line-height: 1.5;
      word-spacing: 1.2;
      white-space: normal; }
      .frm-story .mid .desc p img {
        position: relative;
        max-width: 100%; }

.pagination {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  cursor: default; }
  .pagination li {
    list-style: none;
    display: inline-block;
    font-size: 12pt;
    font-weight: 600;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 100%;
    text-align: center;
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.54); }
  .pagination li.active {
    cursor: not-allowed; }
  .pagination a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 100%;
    text-align: center;
    background-color: #f06292;
    color: #fff; }

.navigator {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center; }
  .navigator li {
    position: relative;
    width: auto;
    height: 45px;
    line-height: 45px;
    list-style: none;
    display: inline-block;
    padding: 0 40px;
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12pt;
    margin-right: -4px; }
    .navigator li:hover {
      color: rgba(0, 0, 0, 0.84); }
    .navigator li.active {
      background-color: #f06292;
      color: #fff; }
    .navigator li.left {
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px; }
    .navigator li.right {
      border-top-right-radius: 45px;
      border-bottom-right-radius: 45px; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  white-space: normal; }

html {
  font-family: "SekunderFont", Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  outline: none; }

.bdr {
  position: relative;
  width: 80px;
  margin: auto;
  margin-top: 15px;
  border-bottom: 4px #f06292 solid; }
  .bdr.left {
    margin: 0;
    margin-top: 15px; }
  .bdr.right {
    text-align: right;
    margin-top: 15px; }
  .bdr.no-margin {
    margin: 0 0; }

@media (max-width: 800px) {
  .mobile {
    display: none; } }

.desktop {
  display: none; }
  @media (max-width: 800px) {
    .desktop {
      display: block; } }

.bdr-top {
  border-top: 1px rgba(0, 0, 0, 0.1) solid; }

.bdr-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }

.ctn-main-font {
  font-family: "Helvetica Neue", Helvetica,  Arial,  sans-serif; }
  .ctn-main-font.ctn-font-1 {
    font-family: "MainFont", Arial, Helvetica, sans-serif; }
  .ctn-main-font.ctn-font-2 {
    font-family: "PrimaryFont", Arial, Helvetica, sans-serif; }
  .ctn-main-font.ctn-font-3 {
    font-family: "SekunderFont", Arial, Helvetica, sans-serif; }
  .ctn-main-font.ctn-thin {
    font-weight: 400; }
  .ctn-main-font.ctn-bold {
    font-weight: 600; }
  .ctn-main-font.ctn-capital {
    text-transform: capitalize; }
  .ctn-main-font.ctn-big {
    font-size: 54pt; }
  .ctn-main-font.ctn-standar {
    font-size: 44pt; }
  .ctn-main-font.ctn-small {
    font-size: 34pt; }
  .ctn-main-font.ctn-mikro {
    font-size: 24pt; }
  .ctn-main-font.ctn-20pt {
    font-size: 20pt; }
  .ctn-main-font.ctn-19pt {
    font-size: 19pt; }
  .ctn-main-font.ctn-18pt {
    font-size: 18pt; }
  .ctn-main-font.ctn-17pt {
    font-size: 17pt; }
  .ctn-main-font.ctn-16pt {
    font-size: 16pt; }
  .ctn-main-font.ctn-15pt {
    font-size: 15pt; }
  .ctn-main-font.ctn-14pt {
    font-size: 14pt; }
  .ctn-main-font.ctn-13pt {
    font-size: 13pt; }
  .ctn-main-font.ctn-12pt {
    font-size: 12pt; }
  .ctn-main-font.ctn-11pt {
    font-size: 11pt; }
  .ctn-main-font.ctn-10pt {
    font-size: 10pt; }
  .ctn-main-font.ctn-upp {
    text-transform: uppercase; }
  .ctn-main-font.ctn-normal {
    text-transform: normal; }
  .ctn-main-font.ctn-center {
    text-align: center; }
  .ctn-main-font.ctn-sek-color {
    color: rgba(0, 0, 0, 0.54); }
    .ctn-main-font.ctn-sek-color a {
      color: rgba(0, 0, 0, 0.54); }
      .ctn-main-font.ctn-sek-color a:hover {
        color: #f06292; }
  .ctn-main-font.ctn-min-color {
    color: rgba(0, 0, 0, 0.84); }
    .ctn-main-font.ctn-min-color a {
      color: #f06292; }
  .ctn-main-font.ctn-link-color {
    color: rgba(0, 0, 0, 0.84); }
    .ctn-main-font.ctn-link-color a {
      color: #f06292; }
  .ctn-main-font.ctn-white-color {
    color: #fff; }
  .ctn-main-font.ctn-init-color {
    color: #f06292; }
  .ctn-main-font.ctn-err-color {
    color: #ff0000; }
  .ctn-main-font.ctn-line {
    line-height: 1.5; }
  .ctn-main-font.ctn-thin {
    font-weight: 500; }
  .ctn-main-font.ctn-center {
    text-align: center; }
  .ctn-main-font.ctn-left {
    text-align: left; }
  .ctn-main-font.ctn-right {
    text-align: right; }

/*# sourceMappingURL=app.css.map */
