@import "color";
@import "asset";
@import "column";
@import "header";
@import "body";
@import "footer";
@import "card";
@import "form";
@import "image";
@import "article";
@import "navigator";

* {
    padding: 0;
    margin: 0;
    border: 0;
    white-space: normal;
}

html {
	font-family: "SekunderFont", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

.bdr {
    position: relative;
    width: 80px;
    margin: auto;
    margin-top: 15px;
    border-bottom: 4px $color-70 solid;
    &.left {
        margin: 0;
        margin-top: 15px;
    }
    &.right {
    	text-align: right;
        margin-top: 15px;
    }
    &.no-margin {
    	margin: 0 0;
    }
}

.mobile {
	@media (max-width: $max-width) {
		display: none;
	}
}
.desktop {
	display: none;
	@media (max-width: $max-width) {
		display: block;
	}
}

.bdr-top {
	border-top: $border;
}
.bdr-bottom {
	border-bottom: $border;
}

.ctn-main-font {
	font-family: 
		"Helvetica Neue", 
		Helvetica, 
		Arial, 
		sans-serif;
	&.ctn-font-1 {
		font-family: "MainFont", Arial, Helvetica, sans-serif;
	}
	&.ctn-font-2 {
		font-family: "PrimaryFont", Arial, Helvetica, sans-serif;
	}
	&.ctn-font-3 {
		font-family: "SekunderFont", Arial, Helvetica, sans-serif;
	}
	&.ctn-thin {
		font-weight: 400;
	}
	&.ctn-bold {
		font-weight: 600;
	}
	&.ctn-capital {
		text-transform: capitalize;
	}
	&.ctn-big {
		font-size: 54pt;
	}
	&.ctn-standar {
		font-size: 44pt;
	}
	&.ctn-small {
		font-size: 34pt;
	}
	&.ctn-mikro {
		font-size: 24pt;
	}
	&.ctn-20pt {
		font-size: 20pt;
	}
	&.ctn-19pt {
		font-size: 19pt;
	}
	&.ctn-18pt {
		font-size: 18pt;
	}
	&.ctn-17pt {
		font-size: 17pt;
	}
	&.ctn-16pt {
		font-size: 16pt;
	}
	&.ctn-15pt {
		font-size: 15pt;
	}
	&.ctn-14pt {
		font-size: 14pt;
	}
	&.ctn-13pt {
		font-size: 13pt;
	}
	&.ctn-12pt {
		font-size: 12pt;
	}
	&.ctn-11pt {
		font-size: 11pt;
	}
	&.ctn-10pt {
		font-size: 10pt;
	}
	&.ctn-upp {
		text-transform: uppercase;
	}
	&.ctn-normal {
		text-transform: normal;
	}
	&.ctn-center {
		text-align: center;
	}
	&.ctn-sek-color {
		color: $txt-54-color;
		a {
			color: $txt-54-color;
			&:hover {
				color: $color-70;
			}
		}
	}
	&.ctn-min-color {
		color: $txt-84-color;
		a {
			color: $color-70;
		}
	}
	&.ctn-link-color {
		color: $txt-84-color;
		a {
			color: $color-70;
		}
	}
	&.ctn-white-color {
		color: #fff;
	}
	&.ctn-init-color {
		color: $color-70;
	}
	&.ctn-err-color {
		color: $txt-alert;
	}
	&.ctn-line {
		line-height: 1.5;
	}
	&.ctn-thin {
		font-weight: 500;
	}
	&.ctn-center {
		text-align: center;
	}
	&.ctn-left {
		text-align: left;
	}
	&.ctn-right {
		text-align: right;
	}
}