.pl-article {
    position: relative;
    width: 800px;
    margin: auto;
    padding: 25px 0;
    /*@include grid_2x(1fr, 450px);
    @media (max-width: $max-width) {
        @include grid_none();
        width: calc(100% - 30px);
        padding: 0 15px;
        padding-top: 15px;
        padding-bottom: 25px;
    }*/
    @media (max-width: $max-width) {
        width: calc(100% - 20px);
    }
    .pl-a-col-1 {
        @include grid_col(1);
    }
    .pl-a-col-2 {
        @include grid_col(2);
    }
    .more-article {
        position: relative;
        width: 100%;
        .top {
            padding: 10px 0;
            h3 {
                font-weight: 500;
                color: $txt-84-color;
            }
        }
    }
}

.frm-story {
    position: relative;
    width: calc(100% - 40px);
    @media (max-width: $max-width) {
        width: 100%;
    }
    .top {
        padding-bottom: 15px;
    }
    .mid {
        .info {
            color: $txt-54-color;
            font-size: 11pt;
        }
        .date {
            position: relative;
            width: 100%;
            color: $txt-54-color;
            font-size: 11pt;
            .icn {
                font-size: 11pt;
            }
        }
        .title {
            h1 {
                font-weight: 500;
            }
        }
        .desc {
            white-space: normal;
            p {
                color: $txt-54-color;
                font-size: 12pt;
                line-height: 1.5;
                word-spacing: 1.2;
                white-space: normal;
                img {
                    position: relative;
                    max-width: 100%;
                }
            }
        }
    }
}