//font
@font-face {
	font-family: "MainFont";
    src: url("../fonts/cooper-black/COOPBL.ttf");
}
@font-face {
	font-family: "SekunderFont";
    src: url("../fonts/droid-sans/DroidSans.ttf");
}
@font-face {
	font-family: "PrimaryFont";
    src: url("../fonts/Righteous/Righteous-Regular.ttf");
}

//variabel
$col-all: 1200px;//calc(100% - 150px);
$col-full: 1200px;//calc(100% - 150px);
$max-width: 800px;
$min-width: 400px;
$border: 1px rgba(0,0,0,0.1) solid;

//position
@mixin post_none() {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
}
@mixin post_top($type) {
	position: $type;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
}
@mixin post_center($type) {
	position: $type;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
}

//border
@mixin bdr_top() {
	border-top: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_bottom() {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_top_bottom() {
	border-top: 1px rgba(0,0,0,0.1) solid;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_all() {
	border: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_none() {
	border: 0 #fff solid;
}

//padding
.padding-20px {
	padding: 20px 0;
}
.padding-15px {
	padding: 15px 0;
}
.padding-10px {
	padding: 10px 0;
}
.padding-5px {
	padding: 5px 0;
}

.padding-bottom-20px {
	padding-bottom: 20px;
}
.padding-bottom-15px {
	padding-bottom: 15px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-5px {
	padding-bottom: 5px;
}

.padding-top-20px {
	padding-top: 20px;
}
.padding-top-15px {
	padding-top: 15px;
}
.padding-top-10px {
	padding-top: 10px;
}
.padding-top-5px {
	padding-top: 5px;
}

.position {
	
	&.middle {
		@include post_top(relative);
	}
	&.center {
		@include post_center(relative);
	}
}

.width {
	position: relative;
	margin: auto;
	&.width-full {
		width: 100%;
	}
	&.width-all {
		width: $col-all;
		@media (max-width: $max-width) {
			width: calc(100% - 20px);
			margin: auto;
        }
	}
}

.menu-circle {
    position: relative;
    width: 100%;
    padding-top: 10px;
    li {
    	list-style: none;
    	display: inline-block;
    	a {
            position: relative;
            width: 40px;
            height: 40px;
            line-height: 40px;
            
            text-align: center;
            border-radius: 100%;

            background-color: $color-30;
            color: #fff;

            display: block;
        }
    }
}
