.frm-info {
    position: relative;
    width: 100%;
    .fi-top {
        position: relative;
        width: 100%;
        height: 250px;
        //border-radius: 7.5px;
        //overflow: hidden;
        .fi-cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000, $alpha: 0.24);
        }
        .fi-info {
            @include post_center(absolute);
            width: calc(100% - 30px);
            margin: auto;
            color: #fff;
            text-shadow: 0px 0px 10px #000;
            .fi-icn {
                margin-bottom: 50px;
                font-size: 22pt;
            }
        }
    }
}
.frm-people {
    position: relative;
    width: calc((100% - 20px) / 5);
    height: auto;
    margin: 20px 0;

    display: inline-block;
    vertical-align: top;

    @media (max-width: $max-width) {
        width: calc((100% - 10px) / 2);
    }
    
    .icn {
        position: relative;
        width: 100px;
        height: 100px;
    
        border-radius: 100%;
        background-color: $color-70;
        color: $txt-84-color;
        font-size: 20pt;
        @include grid_col(1);
    
        .fl {
            @include post_center(absolute);
        }
    }
    .ctn {
        @include grid_col(2);
        line-height: 1.5;
        text-align: center;
        .ttl {
            font-size: 12pt;
            text-transform: uppercase;
            color: $txt-84-color;
        }
        .dsc {
            font-size: 11pt;
            color: $txt-54-color;
        }
        .more {
            padding-top: 20px;
        }
    }
}
.frm-service {
    position: relative;
    width: calc((100% - 20px) / 4);
    height: auto;
    margin: 20px 0;

    display: inline-block;
    vertical-align: top;

    @media (max-width: $max-width) {
        width: calc((100% - 8px) / 2);
    }
    @media (max-width: $min-width) {
        width: calc(100% - 8px);
    }
    .fs-content {
        @include grid_2x(100px, 1fr);
    }
    
    .icn {
        position: relative;
        width: 100px;
        height: 100px;
    
        border-radius: 100%;
        background-color: $color-70;
        color: $color-70-2;
        font-size: 18pt;
        margin: auto;
        margin-bottom: 15px;
        @include grid_col(1);
    
        .fl {
            @include post_center(absolute);
        }
    }
    .ctn {
        position: relative;
        width: calc(100% - 30px);
        padding: 0 15px;
        @include grid_col(2);
        line-height: 1.5;
        text-align: center;
        .ttl {
            font-size: 12pt;
            text-transform: uppercase;
            color: $txt-84-color;
        }
        .dsc {
            font-size: 11pt;
            color: $txt-54-color;
        }
        .more {
            padding-top: 20px;
        }
    }
}

.frm-article {
    position: relative;
    width: 100%;
    background-color: #fff;
    //border-radius: 7.5px;
    //overflow: hidden;
    box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.1);
    .cover {
        position: relative;
        width: 100%;
        height: 150px;
        &.big {
            height: 195px;
        }
        .type {
            position: absolute;
            top: 10px;
            left: 10px;

            background-color: $color-70;
            color: #fff;

            z-index: 1;

            font-size: 11pt;
            padding: 5px 10px;
            border-radius: 45px;
            &.type-circle {
                width: 35px;
                height: 35px;
                line-height: 35px;
                padding: 0 0;
                text-align: center;
                border-radius: 100%;
            }
            &.bg-color-1 {
                background-color: $color-70;
                color: $color-70-2;
            }
        }
        .image {
            position: relative;
            width: 100%;
            height: 100%;
    
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .content {
        position: relative;
        width: calc(100% - 30px);
        padding: 10px 15px;
        white-space: normal;
        &.big {
            .dsc {
                height: 85px;
                overflow: hidden;
            }
        }
        .date {
            position: relative;
            height: 20px;
            overflow: hidden;
            color: $txt-54-color;
            font-size: 10pt;
            padding-bottom: 5px;
            .icn {
                font-size: 10pt;
            }
        }
        .ttl {
            position: relative;
            width: 100%;
            height: 95px;
            overflow: hidden;
            line-height: 1.2;
        }
        .dsc {
            position: relative;
            width: 100%;
            color: $txt-54-color;
            font-size: 11pt;
            line-height: 1.5;
            white-space: normal;
        }
    
        .more {
            padding: 10px 0;
            text-align: right;
        }
    }
}
.frm-small-article {
    position: relative;
    width: 100%;
    padding: 15px 0;
    @include grid_2x(120px, 1fr);
    .cover {
        position: relative;
        width: 100px;
        height: 100px;
        @include grid_col(1);
        &.big {
            height: 200px;
        }
        .type {
            position: absolute;
            top: 5px;
            left: 5px;

            background-color: $color-30;
            color: #fff;

            z-index: 1;

            font-size: 11pt;
            padding: 5px 10px;
            border-radius: 3px;
        }
        .image {
            position: relative;
            width: 100%;
            height: 100%;
    
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .content {
        position: relative;
        width: calc(100%);
        @include grid_col(2);
        &.big {
            .dsc {
                height: 80px;
                max-height: 80px;
                overflow: hidden;
            }
        }
        .date {
            position: relative;
            height: 20px;
            overflow: hidden;
            color: $txt-54-color;
            font-size: 10pt;
            padding-bottom: 5px;
            .icn {
                font-size: 10pt;
            }
        }
        .ttl {
            position: relative;
            width: 100%;
            padding-bottom: 10px;
        }
        .dsc {
            position: relative;
            width: 100%;
            height: 68px;
            overflow: hidden;
            color: $txt-54-color;
            font-size: 11pt;
            line-height: 1.5;
            white-space: normal;
        }
    
        .more {
            padding-top: 20px;
        }
    }
}

.frm-instagram {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    display: inline-block;

    background-size: cover;
    background-repeat: no-repeat;

    //border-radius: 7.5px;
    //overflow: hidden;

    margin: 10px 0;
    &:hover {
        cursor: pointer;
    }
    &:hover .desc {
        display: block;
        @media (max-width: $max-width) {
            display: none;
        }
    }
    .desc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        padding: 15px;
        background-color: rgba($color: #000000, $alpha: 0.34);
        color: #fff;
        white-space: normal;
        display: none;
        .ttl {
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - 30px);
            padding: 15px;
        }
    }
}

.frm-big-galery {
    position: relative;
    width: 100%;
    .place {
        @include col_masonry(3);
        @include col_masonry_gap(0);
        .image {
            position: relative;
            background-size: cover;
        }
    }
    .view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .ttl {
            @include post_center(absolute);
            width: 370px;
            
            background-color: #fff;
            color: $txt-54-color;
            border-radius: 45px;
            overflow: hidden;

            @include grid_2x(1fr, 80px);

            @media (max-width: $min-width) {
                width: calc(100% - 15px);
            }

            &:hover {
                color: $txt-84-color;
                .icn {
                    background-color: $color-70;
                    color: $color-70-2;
                }
            }

            .ctn {
                position: relative;
                width: calc(100% - 40px);
                height: 70px;
                padding: 0 20px;
                line-height: 70px;
                font-weight: 500;
                font-size: 14pt;
                text-align: center;
                @include grid_col(1);
            }

            .icn {
                position: relative;
                width: 100%;
                height: 70px;
                line-height: 70px;
                margin: auto;
                font-size: 18pt;
                text-align: center;
                background-color: #f5f5f5;
                color: $txt-34-color;

                @include grid_col(2);
            }
        }
    }
}

.frm-testimonial {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    .ft-ctn {
        position: relative;
        width: calc(100% - 50px);
        padding: 50px 25px;
        .icn {
            color: $txt-34-color;
        }
        .say {
            position: relative;
            
            white-space: normal;

            line-height: 1.5;
            font-size: 16pt;
            font-family: 'Times New Roman', Times, serif;
            color: $txt-54-color;

            font-style: italic;
            padding: 30px 0;
        }
        .inf {
            padding: 10px 0;
            color: $txt-54-color;
            font-size: 12pt;
            .pp {
                margin: auto;
            }
            .desc {
                padding: 25px 0 25px 0;
                .job {
                    font-weight: 600;
                }
            }
        }
    }
}

.frm-notes {
    position: relative;
    width: 100%;
    margin: 15px 0;
    .frn-top {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 100%;

        background-color: $color-70-2;
        color: $color-70;
        border: 1px $color-70 solid;
        font-size: 10pt;

        margin-right: 10px;

        display: inline-block;
        vertical-align: top;
    }
    .frn-mid {
        position: relative;
        width: calc(100% - 60px);
        line-height: 1.5;
        display: inline-block;
        vertical-align: top;
        .ttl {
            font-weight: 600;
            font-size: 14pt;
        }
        .sub-ttl {
            font-size: 11pt;
            color: $txt-54-color;
        }
    }
}

.frm-today {
    position: relative;
    width: 100%;
    height: 400px;
    .ft-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.34);
        .ft-place {
            @include post_center(absolute);
            width: calc(100% - 50px);
            text-align: center;
            color: #fff;
            line-height: 1.5;
        }
        .ft-top {
            cursor: default;
            padding: 20px 0;
            h1 {
                font-weight: 500;
            }
        }
        .ft-mid {
            position: relative;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100%;
            font-size: 18pt;
            cursor: pointer;
            background-color: rgba($color: $color-70, $alpha: 0.84);
            color: $color-70-2;
            &:hover {
                background-color: rgba($color: $color-70, $alpha: 0.94);
            }
        }
    }
}

.frm-galery {
    position: relative;
    width: 100%;
    //border-radius: 7.5px;
    //overflow: hidden;
    box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.1);
    background-color: #fff;
    .fg-top {
        cursor: pointer;
        &:hover {
            .image {
                background-size: cover;
                transition: 0.3s;
            }
        }
        .image {
            position: relative;
            margin: auto;
        }
    }
    .fg-mid {
        position: relative;
        width: calc(100% - 20px);
        padding: 10px;

        font-size: 10.5pt;
        color: $txt-54-color;
        line-height: 1.5;
    }
}

.frm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    overflow-y: auto;
    background-color: rgba($color: #000, $alpha: 0.74);
    display: none;
    .fp-place {
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 5;
        }
        .fp-mid {
            iframe {
                @media (max-width: $max-width) {
                    width: calc(100% - 30px);
                    margin: auto;
                }
            }
            .load {
                @include post_center(absolute);
                width: 200px;
                padding: 15px;
                background-color: #fff;
                @include grid_2x(40px, 1fr);
                .col-1 {
                    position: relative;
                    width: 40px;
                    @include grid_col(1);
                }
                .col-2 {
                    @include grid_col(2);
                }
            }
            .vid {
                @include post_center(absolute);
                width: 100%;
                height: calc(100vh - 130px);
                background-color: #000;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .map {
                @include post_center(absolute);
                width: 100%;
                height: calc(100vh - 130px);
                background-color: #f0f0f0;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .img {
                @include post_center(absolute);
                margin: auto;
                max-width: 100%;
                max-height: 100vh;
            }
            .search {
                @include post_center(absolute);
                width: $col-full;
                @media (max-width: $max-width) {
                    width: calc(100% - 30px);
                    padding: 0 15px;
                }
                #src {
                    position: relative;
                    width: calc(100% - 30px);
                    padding: 15px;
                    font-size: 32pt;
                    font-weight: 600;
                    text-align: center;

                    background-color: rgba($color: #000, $alpha: 0);
                    color: $color-70;

                    border-bottom: 4px $color-70 solid;
                }
            }
        }
    }
}

.frm-sign {
    @include post_center(absolute);
    width: 500px;
    border-radius: 10px;
    @include bdr_all();
    @media (max-width: 500px) {
        width: calc(100% - 30px);
        margin: auto;
    }
    .fs-top {
        text-align: center;
        padding: 25px 0;
        @include bdr_bottom();
        h1 {
            color: $txt-54-color;
            text-transform: uppercase;
        }
        .logo {
            position: relative;
            width: calc(100% - 100px);
            margin: auto;
        }
    }
    .fs-mid {
        position: relative;
        width: calc(100% - 50px);
        padding: 25px;
    }
    .fs-block {
        position: relative;
        width: 100%;
        box-shadow: 0 0 1px 1px rgba($color: #000, $alpha: 0.1);
        border-radius: 5px;
        overflow: hidden;
        @include grid_2x(45px, 1fr);
        .fs-left {
            @include grid_col(1);
            .icn {
                position: relative;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                background-color: #f0f0f0;
                color: $txt-54-color;
                font-size: 11pt;
            }
        }
        .fs-right {
            @include grid_col(2);
        }
    }
    .fs-button {
        text-align: center;
        .btn {
            width: 100%;
        }
    }
    .fs-text {
        position: relative;
        width: 100%;
        padding-bottom: 25px;
        text-align: center;
    }
}

.frm-tags {
    position: relative;
    display: inline-block;
    a {
        position: relative;
        padding: 10px 15px;
        display: block;
        
        background-color: #fff;
        color: $txt-54-color;
        font-size: 11pt;
        
        border: 1px rgba($color: #000, $alpha: 0.34) solid;
        border-radius: 45px;

        margin: 7.5px;
        &:hover {
            color: $txt-84-color;
            border: 1px rgba($color: #000, $alpha: 0.34) solid;
        }
    }
}

.frm-main-page {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba($color: #000, $alpha: 0.14);
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 3px rgba($color: #000, $alpha: 0.14);
        transition: 0.3s;
    }
    .fmp-top {
        position: relative;
        width: 100%;
        height: 150px;
        line-height: 150px;
        text-align: center;
        .icn {
            font-size: 32pt;
            color: $txt-54-color;
        }
        &.bg-1 {
            background-color: $color-70;
            .icn {
                color: #fff;
            }
        }
        &.bg-2 {
            background-color: $color-30;
            .icn {
                color: #fff;
            }
        }
        &.bg-3 {
            background-color: $color-10;
            .icn {
                color: #fff;
            }
        }
        &.bg-4 {
            background-color: $color-5;
            .icn {
                color: #fff;
            }
        }
    }
    .fmp-mid {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
        text-align: center;
        font-size: 12pt;
        color: $txt-54-color;
        @include bdr_top();
    }
}

.frm-view-galery {
    position: relative;
    width: 100%;
    padding: 40px 0;
    margin: auto;
    background-color: #000;
    @media (max-width: $max-width) {
        padding: 20px 0;
    }
    .frm-place {
        position: relative;
        width: 600px;
        margin: auto;
        @media (max-width: $max-width) {
            position: relative;
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .top {
        padding-bottom: 10px;
        img {
            width: 100%;
        }
    }
    .mid {
        padding-bottom: 10px;
    }
    .bot {
        text-align: left;
    }
}