$main-color: #fff;
$txt-34-color: rgba(0,0,0,0.34);
$txt-54-color: rgba(0,0,0,0.54);
$txt-84-color: rgba(0,0,0,0.84);
$txt-alert: #ff0000;

$color-70: #f06292;
$color-70-2: #fff;
$color-30: #62c3f0;
$color-10: #91f062;
$color-5: #f09162;

/*
$color-70: #f25153;
$color-30: #5ca157;
$color-10: #91f062;
$color-5: #f09162;
*/