/*button normal*/
.btn {
	position: relative;
	width: auto;
	height: 45px;
	padding: 0 15px;
	border-radius: 7.5px;
	font-size: 11pt;
	font-weight: 600;
	font-family: "SekunderFont", Arial, Helvetica, sans-serif;
	cursor: pointer;
	&.btn-no-pad {
		padding: 0 0;
	}
	&.btn-upp {
		text-transform: uppercase;
	}
	&.btn-radius {
		border-radius: 45px;
	}
	&.btn-link {
		text-align: center;
		line-height: 45px;
		display: block;
	}
	&.btn-div {
		height: 45px;
		line-height: 45px;;
		text-align: center;
	}
	&.btn-circle {
		width: 45px;
		height: 45px;
		line-height: 45px;;
		padding: 0 0;
		border-radius: 100%;
		text-align: center;
	}
	&.btn-danger-color {
		background-color: $txt-alert;
		color: #fff;
    }
	&.btn-main-color {
		background-color: $color-70;
        color: $color-70-2;
    }
    &.btn-main-2-color {
		background-color: #fff;
        color: $color-70;
        border: 1px $color-70 solid;
        &:hover {
            background-color: $color-70;
		    color: #fff;
        }
	}
	&.btn-sekunder-color {
		background-color: #fff;
        color: $txt-54-color;
        border: 1px rgba(0,0,0,0.34) solid;
        &:hover {
            background-color: #fff;
			color: $txt-84-color;
			border: 1px rgba(0,0,0,0.54) solid;
        }
	}
	&.btn-grey-color {
		background-color: #fff;
        color: $txt-54-color;
        &:hover {
            background-color: #f2f2f2;
			color: $txt-84-color;
        }
	}
	&.btn-grey2-color {
		background-color: #f5f5f5;
        color: $txt-54-color;
        &:hover {
            background-color: #f2f2f2;
			color: $txt-84-color;
        }
	}
	&.btn-grey2-main-color {
		background-color: #f5f5f5;
        color: $txt-54-color;
        &:hover {
            background-color: $color-70;
		    color: #fff;
        }
	}
	&.btn-color-fb {
		background-color: #44749d;
		color: #fff;
	}
	&.btn-color-gg {
		background-color: #9a0000;
		color: #fff;
	}
	&.btn-color-gg-2 {
		background-color: #fff;
		color: #9a0000;
		border: 1px #9a0000 solid;
	}
	&.btn-color-gg-3 {
		background-color: #fff;
		color: #9a0000;
	}
	&.btn-color-tw {
		background-color: #60d3f5;
		color: #fff;
	}
}

.txt {
	width: calc(100% - 30px);
	height: 45px;
	font-size: 15px;
	font-weight: 900;
	padding: 0 15px;
	border-radius: 5px;
	font-family: "SekunderFont", Arial, Helvetica, sans-serif;
	&.txt-no-shadow {
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
	&.txt-radius {
		border-radius: 45px;
	}
	&.txt-main-color {
		background-color: #fff;
		color: rgba(0,0,0,0.84);
	}
	&.txt-primary-color {
		height: 38px;
		background-color: #fff;
		color: rgba(0,0,0,0.84);
		border: 1px rgba(0,0,0,0.14) solid;
		&:focus {
			border: 1px rgba(0,0,0,0.84) solid;
		}
	}
	&.txt-box-shadow {
		border: 1px rgba(0,0,0,0.1) solid;
	}
	&.txt-sekunder-color {
		height: 38px;
		background-color: #fff;
		color: rgba(0,0,0,0.84);
		border: 1px rgba(0,0,0,0.1) solid;
		&:focus {
			border: 1px rgba(0,0,0,0.84) solid;
		}
	}
	&.txt-unbox {
		box-shadow: 0 0 0 #fff;
	}
	&.txt-small {
		width: 100%;
		padding: 0;
	}
	&.edit-text {
		min-width: calc(100% - 30px);
		max-width: calc(100% - 30px);
		height: auto;
		min-height: 80px;
		max-height: 150px;
		overflow-y: auto;
		padding: 15px;
		img {
			width: 100%;
		}
		&.et-height-50px {
			min-height: 50px;
		}
	}
}
.slc {
	position: relative;
	width: calc(100%);
	height: 45px;
	padding: 0 5px;
	font-size: 11pt;
	font-weight: 500;
	border-radius: 5px;
	* {
		color: $txt-54-color;
	}
	option {
		width: calc(100% - 30px);
		padding: 15px;
		color: $txt-54-color;
	}
	&.slc-sekunder-color {
		height: 38px;
		background-color: #fff;
		color: rgba(0,0,0,0.54);
		border: 1px rgba(0,0,0,0.1) solid;
	}
}

.btn-type {
	position: relative;
	width: auto;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	text-align: center;
	cursor: default;
	&.wd-small {
		width: 60px;
	}
	&.btn-color-70 {
		background-color: $color-70;
		color: #fff;
	}
	&.btn-color-30 {
		background-color: $color-30;
		color: #fff;
	}
	&.btn-color-10 {
		background-color: $color-10;
		color: #fff;
	}
	&.btn-color-5 {
		background-color: $color-5;
		color: #fff;
	}
}

.toggle {
	position: relative;
	font-size: 28pt;
	cursor: pointer;
	&.toggle-main {
		background-color: rgba(0,0,0,0);
		color: $color-70;
	}
	&.toggle-primary {
		background-color: rgba(0,0,0,0);
		color: $color-30;
	}
	&.toggle-sekunder {
		background-color: rgba(0,0,0,0);
		color: $color-10;
	}
	&.toggle-danger {
		background-color: rgba(0,0,0,0);
		color: $color-5;
	}
	&.toggle-grey {
		background-color: rgba(0,0,0,0);
		color: $txt-34-color;
	}
}

.hidden {
	display: none;
}

textarea {
	resize: none;
}

table {
	position: relative;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 10px;
	thead {
		position: relative;
		width: 100%;
		background-color: $color-70;
		color: #fff;
		tr {
			position: relative;
			border: 0;
			th {
				position: relative;
				padding: 15px;
				font-size: 11pt;
				font-weight: 600;
				text-transform: collapse;
				text-align: left;
				border-bottom: 1px rgba(0,0,0,0.1) solid;
			}
		}
	}
	tbody {
		tr {
			&:hover {
				background-color: #f5f5f5;
			}
			/*&:nth-child(even) {
				background-color: #f2f2f2;
			}*/
			td {
				position: relative;
				padding: 15px;
				font-size: 11pt;
				font-weight: 500;
				color: $txt-54-color;
				border-bottom: 1px rgba(0,0,0,0.1) solid;
			}
		}
	}
}
