.pagination {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	cursor: default;
	li {
		list-style: none;
		display: inline-block;
		font-size: 12pt;
		font-weight: 600;

		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 100%;
		text-align: center;
		background-color: #f0f0f0;
		color: $txt-54-color;
	}
	li.active {
		cursor: not-allowed;
	}
	a {
		display: block;
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 100%;
		text-align: center;
		background-color: $color-70;
		color: #fff;
	}
}

.navigator {
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
	li {
		position: relative;
		width: auto;
		height: 45px;
		line-height: 45px;

		list-style: none;
		display: inline-block;
		padding: 0 40px;

		background-color: #f0f0f0;
		color: $txt-54-color;
		font-size: 12pt;

		margin-right: -4px;
		&:hover {
			color: $txt-84-color;
		}

		&.active {
			background-color: $color-70;
			color: #fff;
		}
		&.left {
			border-top-left-radius: 45px;
			border-bottom-left-radius: 45px;
		}
		&.right {
			border-top-right-radius: 45px;
			border-bottom-right-radius: 45px;
		}
	}
}
